* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    text-align: center;
}

h1 {
    font-family: Impact;
    font-size: 100px;
    text-align: center;
}

p {
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    color: red;
}
